<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076308191183-ckabovtokmeudndpcbg4dgl9jepp3m2s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076308191183-ckabovtokmeudndpcbg4dgl9jepp3m2s</string>
	<key>API_KEY</key>
	<string>AIzaSyDXHpzXK-THuYS8E93HLfLIWbxoLBEk0tA</string>
	<key>GCM_SENDER_ID</key>
	<string>1076308191183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joannamichalczewska.najlepszaPizzaWGdyni</string>
	<key>PROJECT_ID</key>
	<string>pizza-gdynia</string>
	<key>STORAGE_BUCKET</key>
	<string>pizza-gdynia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076308191183:ios:2a0bc680e78900351e14ba</string>
</dict>
</plist>